:root{
    --main-color:#f28123;
    --Secondary-color:#fff;
    --black:#13131a;
    --border:#fbdaad;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--border);
    padding: 20px;
    border-radius: 10px;
    background-color: var(--Secondary-color);
}

.formulario {
    text-align: left;
}

.title-one, .title-two{
    margin-top: 0;
    text-align: center !important;
}

#link{
    text-decoration: none;
    color: var(--black);
}

.campo {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-text {
    width: 100%;
    padding: 5px;
    border: 1px solid #fbdaad;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.boton {
    width: 103%;
    padding: 10px;
    background-color: #f28123;
    color: var(--Secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #e36313;
}

/* Media queries para responsive */

@media (max-width: 768px) {
    .contenedor {
        width: 90%;
    }
}
